html, body {
	margin:0;
	padding:0;
}
body {
	text-align:center;
	background: #D9D9D9;
	color: #777;
	font:normal normal normal 14px/24px Arial,Verdana,sans-serif;
}
body > * {
	text-align: left;
}
ul, li {
	margin:0;
	padding:0;
	list-style:none;
}
h1, h2, h3, h4, h5, h6 {
	font-style: normal;
	font-weight: normal;
	margin: 0 0 20px 0;
}
h1, h2 {
	font-size:30px;
}
a {
	color: #DD7A05;
	text-decoration: none;
}
label {
	display: block;
}
#dockbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height:30px;
}
#page {
	text-align:left;
	width:800px;
	margin:0 auto;
	border:1px solid black;
	background: #fff;
}
#header {
	padding: 10px 0 0 10px;
}
#dockbar + #page {
	margin-top:30px;
}
#site-menu {
	color: #8F8F8F;
	height: 50px;
	padding: 18px 0 0 20px;
}
#site-menu li {
	float:left;
}
#site-menu a {
	color: #8F8F8F;
	padding:5px 15px;
	border-bottom: 2px solid #999;
}
#site-menu a.active {
	border-bottom-color: #DD7A05;
}
#site-menu a:HOVER {
	border-bottom-color: red;
}
/* menu */
ul.menu {
	width:200px;
	text-align:left;
	margin-left: 20px;
}
ul.menu a {
	color: #8F8F8F;
}
ul.menu ul {
	display:none;
	background: white;
}
ul.menu li:hover > ul {
	display:block;
	border:1px solid black;
	animation: openmenu 0.2s;
	animation-iteration-count: 1;
	-webkit-animation: openmenu 0.2s; /* Safari & Chrome */
	-webkit-animation-iteration-count: 1;
}
@keyframe openmenu {
	0% {
		opacity:0;
	}
	100% {
		opacity:1;
	}
}
@-webkit-keyframes openmenu {
	0% {
		opacity:0;
	}
	100% {
		opacity:1;
	}
}
ul.menu > li > ul > li {
	padding:0 5px 0 5px;
	border-top:1px solid #999;
	background: white;
	transition: background 0.2s;
}
ul.menu > li > ul > li:first-child {
	border-top:0 none;
}
ul.menu > li > ul > li:hover {
	background: #EEE;
}

/* menu end */
.content-box {
	color: #777;
	border: 1px solid #999;/* #E5E5E5; */
	margin: 5px;
}
.content-box .content-top, .m-ui-dialog-title {
	height:25px;
	background: #EEE;
}
.content-box .content-body {
	padding:10px;
}
/* dialog */
.ui-dialog {
	background: #FFF;
	text-align: left;
}
.ui-dialog-titlebar {
	text-align: right;
}
.ui-dialog-content {
	
}
/* -- dialog */
.ui-widget-overlay {
	background: black;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.5;
}
.portlet-box.portlet-dropped {
	min-height: 10px;
}
.m-ui-overlay {
	background: black;
	position:fixed;
	top: 0;
	left: 0;
	opacity: 0.5;
	width:100%;
	height:100%;
}
.m-ui-dialog {
	display: block;
	width: 400px;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -200px;
	border: 1px solid #999;
	background:white;
	animation:opendialoganimation 0.5s linear 0s 1 normal;
	-webkit-animation:opendialoganimation 0.5s linear 0s 1 normal; /* Safari and Chrome */
}
@keyframes opendialoganimation {
	0% {
		opacity:0;
	}
	100% {
		opacity:1;
	}
}
@-webkit-keyframes opendialoganimation {
	0% {
		opacity:0;
	}
	100% {
		opacity:1;
	}
}
.m-ui-dialog .close-dialog {
	float:right;
}
.m-ui-dialog > .m-ui-content {
	padding: 0 10px;
}
/* dialog general */
.m-ui-dialog h2 {
	margin-top:10px;
}
/* dialog general end*/

/* add portlet dialog */
#add-portlet {
	text-align:left;
}
#add-portlet a {
	font-size:12px;
}
/* add portlet dialog end */

/* change page layout */
.m-ui-dialog #page-layout ul {
	text-align:left;
	font-size:12px;
}
/* change page layout end */

.action-menu-button li > ul {
/* 	display:none; */
	visibility: hidden;
	margin-left: -1px;
	margin-right: -1px;
}
.action-menu-button li:hover > ul {
/* 	display:block; */
	visibility:visible;
	position: relative;
/* 	left: -1px; */
}
.action-menu-button > li:hover > ul ul {
	position: relative;
	left: 100%;
	top: -25px;
}
.action-menu-button ul {
	min-width: 100px;
}
.action-menu-button li {
	border: 1px solid black;
	float:left;
	height: 25px;
	z-index: 100;
	width:100%;
	background: white;
}
.action-menu-button li + li {
	border-top: 0 none;
}

.form {
	padding:10px;
}

.form > div {
	padding-bottom:5px;
}
.form > div > button {
	height: 30px;
	padding: 0 10px;
}
.form input {
	border: 1px solid #777;
	transition: border 0.5s;
	-webkit-transition: border 0.5s;/* Safari */
}
.form input:focus {
	outline-offset: 0;
	outline: 0 none;
	border:1px solid #DD7A05;
}
/* */
.clear {
	clear: both;
}